<app-header></app-header>
<div>
  <h1>Tabelas de funcionários</h1>
  <table>
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Peso</th>
        <th>Altura</th>
        <th>Tipo sanguíneo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of ItemsArray">
        <th>{{ item.pessoa.nome }}</th>
        <td>{{ item.pessoa.email }}</td>
        <td>{{ item.peso }}</td>
        <td>{{ item.altura }}</td>
        <td>{{ item.tipoSanguineo }}</td>
        <td>
          <!-- <button type="button">Edit</button>
          <button type="button">Delete</button> -->
        </td>
      </tr>
    </tbody>
  </table>
</div>
<app-modal-cadastro-paciente></app-modal-cadastro-paciente>

