<section id="gallery" class="introduction scrollto text-center">
  <div class="row clearfix">
    <aside id="gallery" class="row text-center scrollto clearfix">
      <img src="../../../assets/images/gallery-images/clinica.jpg">
      <img src="../../../assets/images/gallery-images/doutorjogo.jpg">
      <img src="../../../assets/images/gallery-images/equipamentos.png">
      <img src="../../../assets/images/gallery-images/exemplo de medico.jpg">
      <img src="../../../assets/images/gallery-images/mariomedico.png">
      <img src="../../../assets/images/gallery-images/medicos.png">
      <img src="../../../assets/images/gallery-images/muzy.jpg">
      <img src="../../../assets/images/gallery-images/saladecirurgia.jpg">
    </aside>
  </div>
</section>
