<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <div class="col-3">
    </div>

    <div class="col-3">
      <div class="section-heading">
        <h3></h3>
        <h2 class="section-title">Adicione um endereço</h2>
        <p class="section-subtitle">Página de cadastro de um novo endereço</p>
      </div>
      <p>
        Forms de endereço aqui
      </p>
      <!-- Just replace the Video ID "UYJ5IjBRlW8" with the ID of your video on YouTube (Found within the URL) -->
      <forms>
        <label></label>
      </forms>
    </div>
    <!--End Content Right Side-->

    <div class="col-3">
      <img src="assets/images/dancer.jpg" alt="Dancer" />
    </div>
  </div>
</div>
