<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="especialidadeMedica">Especialidade Medica</label>
        <select name="cars" id="cars">
            <option value="volvo">Oftalmologista</option>
            <option value="saab">Pediatra</option>
            <option value="mercedes">Ortopedista</option>
        </select>
    </div>
    <div class="form-group">
        <label for="nomeMedico">Nome do médico</label>
        <input required ngModel name="nomeMedico" id="nomeMedico" type="text">
    </div>
    <div class="form-group">
        <label for="dataConsulta">Data da consulta</label>
        <input type="datetime-local" id="dataConsulta">
    </div>
    <div class="form-group">
        <label for="horaConsulta">Horário disponível para consulta</label>
        <input id="horaConsulta" type="text">
    </div>
    <button class="button" type="submit">Enviar</button>
</form>