.footer-social app-social {
  float: right;
  right: 10px;
  margin-right: 0;
  margin-left: 15px;
}

.text-dark {
  color: rgb(145, 121, 17);
}

.sociais {
  display: flex;
  justify-content: center;

}

.socialB {
  padding: 10px;
}

.total {
  padding-top: 1em;
}