<div id="services" class="scrollto clearfix">
  <div class="row no-padding-bottom clearfix">
    <div class="section-heading">
      <h2 class="section-title">Tabelas de todos os agendamentos</h2>
    </div>
    <table>
      <thead>
        <tr>
          <th>Nome cliente</th>
          <th>Horário</th>
          <th>Data do agendamento</th>
          <th>Nome médico</th>
          <th>especialidade</th>
          <th>crm</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of ItemsArray">
          <td>{{ item.nome }}</td>
          <td>{{ item.horario }}</td>
          <td>{{ item.data }}</td>
          <td>{{ item.medico.pessoa.pessoa.nome }}</td>
          <td>{{ item.medico.especialidade }}</td>
          <td>{{ item.medico.crm }}</td>
        </tr>
      </tbody>
    </table>

    <div class="col-3"></div>
  </div>
</div>
