<aside id="testimonials" class="scrollto text-center pull-center pull-center" data-enllax-ratio=".2">
  <div class="row clearfix">
    <div class="section-heading">
      <h3 class="pull-down"></h3>
      <h2 class="section-title">LOG IN</h2>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="email"> Email </label>
        <input id="email" type="text" formControlName="email" />
      </div>

      <div>
        <label for="senha"> Senha </label>
        <input id="logradouro" type="text" formControlName="senha" />
      </div>

      <button class="button" type="submit">Salvar</button>
    </form>
  </div>
</aside>
