<div>
  <header id="banner" class="scrollto clearfix shift-left" data-enllax-ratio=".5" [style.background]="
      'url(../assets/images/banner-images/' +
      header.image +
      ' ) no-repeat center top;'
    ">
    <div id="banner-content" class="row clearfix pull-center">
      <div class="col-38">
        <div class="section-heading">
          <h1>PERMES HOUDINI</h1>
          <h2>Clínica médica</h2>
        </div>

        <a routerLink="{{ header.buttonlink }}" class="button">entre no sistema</a>
      </div>
    </div>
  </header>
</div>
